@charset "UTF-8";

.c-card {
  width: 178px;
  height: 100%;
  padding: 10px;
  margin: 5px;
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
  & {
    word-wrap: break-word;
  }
  &--small {
    width: 100px;
    //todo,sidebar用
  }
}
