@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #edeff0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1rem;
}

.l-inner {
  padding: 65px 15px 15px 15px;
  margin-left: 200px;
  border: 1px solid silver;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 896px) {
  .l-inner {
  }
}
@media screen and (max-width: 480px) {
  .l-inner {
  }
}
