@charset "UTF-8";

.c-header {
  background-color: white;
  width: 100vw;
  height: 50px;
  position: fixed;
  border-bottom: 1px solid silver;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1;
  &-inner {
    padding: 0 15px;
  }
}
