@charset "UTF-8";

.c-sidebar {
  background-color: white;
  width: 200px;
  height: 100vh;
  position: fixed;
  border-bottom: 1px solid silver;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  &-inner {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1px) {
  .c-sidebar {
    width: 50px;
  }
}
